@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './assets/fonts/custom-fonts.css';

@layer components {
  .blue-gradient:hover {
    background: linear-gradient(290deg, #419ef1 0%, #9bd0ff 107.89%);
  }
  .blue-gradient-full {
    background: linear-gradient(290deg, #419ef1 0%, #9bd0ff 107.89%);
  }

  .orange-gradient:hover {
    background: linear-gradient(90deg, #ffdf48 0%, #ffc107 107.89%);
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.overflow-hidden {
  overflow: hidden;
}

/* auth shadow */
.auth-box-shadow {
  box-shadow: 3px 8px 14px 0px rgba(136, 198, 253, 0.19);
}

textarea:focus,
input:hover,
input:focus,
input:active {
  outline-color: #00213f;
  outline-width: '1px';
}

#modal-basket {
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

/* Стили для открытого компонента */
#modal-basket.open {
  pointer-events: auto;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

#modal-basket {
  animation: slideIn 0.3s ease-in-out;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

#modal-basket.closed {
  animation: slideOut 0.3s ease-in-out;
}

/* backdrop */

#modal-basket-backdrop {
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

/* Стили для открытого компонента */
#modal-basket-backdrop.open {
  pointer-events: auto;
}

@keyframes slideInBackdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#modal-basket-backdrop {
  animation: slideInBackdrop 0.3s ease-in-out;
}

@keyframes slideOutBackdrop {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#modal-basket-backdrop.closed {
  animation: slideOutBackdrop 0.3s ease-in-out;
}
